/*
Replace this example stylesheet with your own.
Please try to keep the code formatting nice.

We want to see a sensible mobile-first, responsive design.
This means the default styles are for the smallest mobile size.
*/

/* Multi-line rulesets must use whitespace for indentation consistently. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');





* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	background: white;
}
header {
	width: 100%;
	height: 80px;
	background: #11101b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}
.logo {
	font-size: 26px;
	color: #fefefe;
	cursor: pointer;
}
.paddy {
	display: none;
}
.nav-bar ul {
	display: flex;
}
.nav-bar ul li a {
	display: block;
	color: #fefefe;
	font-size: 18px;
	padding: 10px 25px;
	border-radius: 50px;
	transition: 0.2s;
	margin: 0 5px;
}
.nav-bar ul li a:hover {
	color: #11101b;
	background: #fefefe;
}
.nav-bar ul li a.active {
	color: #11101b;
	background: #fefefe;
}

@media only screen and (max-width: 1320px) {
	header {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 1100) {
	header {
		padding: 0 30px;
	}
}
@media only screen and (max-width: 750px) {
	.paddy {
		display: block;
		cursor: pointer;
	}
	.paddy .line {
		width: 30px;
		height: 3px;
		background: #fefefe;
		margin: 6px 0;
	}
	.nav-bar {
		height: 0;
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		width: 100vw;
		background: #11101b;
		transition: 0.5s;
		overflow: hidden;
	}
	.nav-bar.active {
		height: 315px;
	}
	.nav-bar ul {
		display: block;
		width: fit-content;
		margin: 80px auto 0 auto;
		text-align: center;
		transition: 0.5s;
		opacity: 0;
	}
	.nav-bar.active ul {
		opacity: 1;
	}
	.nav-bar ul li a {
		margin-bottom: 12px;
	}
}

h1 {
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}

p {
	padding-top: 20px;
	text-align: center;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #11101b;
	color: white;
	text-align: center;
	font-size: 10px;
}
.footer p {
	padding: 0.5px;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 62px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-linkedin {
	background: #55ACEE;
	color: white;
}






/* One-liners are fine for very simple rulesets. */

/* 
You will probably need at least two media queries to handle larger screens.
Your queries should be configured to work with your content
*/
@media screen and (min-width: 457px) {
	/* Code inside media queries should be indented one step further. */
	body { font-size: 1.2em }
}
/*
We don't want to see a min-width of 457px in your code
This was chosen to match the template content.
*/