@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

body {
	background: #11101b;
}

body:not(.index) {
	background-color: white;
	padding-bottom: 250px;
}

body.index .logo {
	display: none;
}

header {
	width: 100%;
	height: 80px;
	background: #11101b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}

.logo {
	color: #fefefe;
	cursor: pointer;
	width: 150px;
}

.paddy {
	display: none;
}

.nav-bar ul {
	display: flex;
}

.nav-bar ul li a {
	display: block;
	color: #f5f5f5;
	font-size: 18px;
	padding-top: 10px;
	transition: 0.2s;
	margin: 0 5px;
	z-index: 2000;
}

.nav-bar ul li a:hover {
	color: #f5f5f5;
	font-weight: bold;
	font-size: 24px;
	filter: brightness(150%);
}

.nav-bar ul li a.active {
	color: #11101b;
	background: #fefefe;
	padding: 10px 25px;
	border-radius: 50px;
}

nav.nav-bar {
	margin: auto;
}

nav.nav-bar li {
	padding-left: 100px;
	padding-right: 100px;
}

@media only screen and (max-width: 1320px) {
	header {
		padding: 0px 50px;
	}

	nav.nav-bar li {
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media only screen and (max-width: 1100px) {
	header {
		padding: 0px 30px;
	}

	nav.nav-bar li {
		padding-left: 45px;
		padding-right: 45px;
	}

	.logo {
		width: 100px;
	}

	#space {
		margin-top: 50px;
	}

}

@media only screen and (max-width: 750px) {
	.paddy {
		display: block;
		cursor: pointer;
	}

	.paddy .line {
		width: 30px;
		height: 3px;
		background: #fefefe;
		margin: 6px 0;
	}

	.nav-bar {
		height: 0;
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		width: 100vw;
		background: #11101b;
		transition: 0.5s;
		overflow: hidden;
	}

	.nav-bar.active {
		height: 375px;
		background: #11101b;
		z-index: 999;
	}

	.nav-bar ul {
		display: block;
		width: fit-content;
		margin: 80px auto 0 auto;
		text-align: center;
		transition: 0.5s;
		opacity: 0;
	}

	.nav-bar.active ul {
		opacity: 1;
		background: #11101b;
	}

	.nav-bar ul li a {
		margin-bottom: 12px;
	}

	.logo {
		width: 80px;
	}

	#space {
		margin: 100px;
	}
}

h1 {
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}

p {
	padding-top: 20px;
	text-align: center;
}



h2 {
	text-align: center;
	padding: 25px;
	font-size: 40px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 62px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin-bottom: 90px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-linkedin {
	background: #497394;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-github {
	background: rgb(61, 61, 61);
	color: white;
}

.fa-instagram {
	background: rgb(248, 152, 224);
	color: white;
}

.soc {
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	padding: 50px;
	width: 70%;
	max-width: 600px;
	border-radius: 20px;
	margin: 10px;
}

h3 {
	padding: 10px;
	text-align: center;
}

form input,
form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 15px;
	font-style: oblique;
	border-radius: 20px;
}

form,
button {
	padding: 20px;
	color: black;
	font-size: 18px;
	border: 0;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
}

button {
	width: 150px;
	margin: auto;
	padding: 15px;
}

button:hover {
	background-color: #f5f5f5;
	color: #11101b;
	outline: solid #11101b;
}


div.photo {
	width: 35%;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
	width: 100%;
}

div .photo .container2 {
	text-align: center;
}

#logo2 {
	animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

#centrallogo {
	opacity: 0;
	animation: fadeInOut 5s ease-in-out infinite;
	width: 75%;
	margin: auto;
	padding: 15px;
	z-index: 1;
	pointer-events: none;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#ghapi {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ghapi img {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	margin-bottom: 20px;
}

#ghapi ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}

#ghapi li {
	margin-bottom: 5px;
	text-align: center;
	padding: auto;
	padding-bottom: 10px;
}

#ghapi a {
	text-decoration: none;
	color: #0366d6;
	padding: 35px;
	font-weight: bold;
}

#ghapi a:hover {
	text-decoration: underline;
	color: red;
	cursor: pointer;
}

h3#workh3 {
	text-align: center;
	padding: 40px;
	font-size: 40px;
}

h3#workh32 {
	text-align: center;
	padding: 40px;
	font-size: 40px;
}

h3#workh3:before,
h3#workh3:after {
	content: "";
	display: block;
	height: 1px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
}

h3#workh32:before,
h3#workh32:after {
	content: "";
	display: block;
	height: 1px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 50%;
}

.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 100px;
	position: relative;
}

.dropdown-btn {
	background-color: #11101b;
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-btn:hover {
	background-color: #fefefe;
	color: #11101b;
	outline: solid #11101b;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fefefe;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
	top: 100%;
	border-radius: 20px;
	outline: solid #11101b;
	z-index: 1;
}

.dropdown.active .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: #11101b;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: antiquewhite;
}

.container {
	display: flex;
	padding-top: 20px;
	margin: 10px;
}

.column {
	flex: 3;
	padding: 20px;
	overflow: hidden;
	transition: flex 0.5s ease;
	cursor: pointer;
}

.column:hover {
	color: #f5f5f5;
	background-color: #11101b;
	border-radius: 20px;
}

.column.active {
	flex: 6;
	background-color: #11101b;
	color: #fefefe;
	border-radius: 15px;
}

.column.active h2 {
	font-size: 2em;
	margin: 0;
}

.column.active p {
	display: block;
}

.column h2 {
	margin: 0;
	font-size: 1.5em;
	transition: font-size 0.5s ease, margin 0.5s ease;
	padding: 10px;
}

.column p {
	display: none;
	transition: display 0.5s ease;
	text-align: justify;
	text-justify: inter-word;
}

@media only screen and (max-width: 750px) {
	.column h2 {
		font-size: 1em;
	}

	.column.active h2 {
		font-size: 1em;
	}

	.column.active p {
		font-size: 10px;
	}
}


.dropdown-btn2-container {
	text-align: center;
	padding: 30px;
	position: relative;
}

.dropdown-btn2 {
	background-color: #11101b;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: auto;
}

.dropdown-content2 {
	display: none;
	position: absolute;
	padding: 20px;
	background-color: #fefefe;
	border-radius: 10px;
	width: 500px;
	outline: solid #11101b;
	z-index: 1;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
}

.show {
	display: block;
}

@media only screen and (max-width: 550px) {
	.dropdown-content2 {
		display: none;
		position: absolute;
		padding: 20px;
		background-color: #fefefe;
		border-radius: 10px;
		width: 350px;
		outline: solid #11101b;
		z-index: 1;
		top: calc(100% + 10px);
		left: 50%;
		transform: translateX(-50%);
	}

	.show {
		display: block;
	}
}

.content {
	position: relative;
	z-index: 0;
	transition: margin-top 0.3s ease-in-out;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #11101b;
	color: #f5f5f5;
	text-align: center;
	font-size: 10px;
	z-index: 1000;
}

.footer p {
	padding: 0.5px;
}

.aboutline {
	width: 100%;
	height: 2px;
	background: #11101b;
	margin-top: 100px;
}

#frontend {
	display: flex;
}

#feicon {
	width: 150px;
	height: 150px;
	margin: 30px;
}

#frontend-text {
	text-align: left;
	padding-top: 30px;
	padding-right: 30px;
	font-weight: 500;
	margin-right: 20%;
}

#db {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#dbicon {
	width: 180px;
	margin: 30px;	
	order: 2;
}

#dbtext {
	text-align: right;
	margin-left: 20%;
	padding-left: 20px;
	text-justify: distribute-all-lines;
}

@media only screen and (max-width: 900px) {
	#frontend {
		flex-direction: column;
		align-items: center;
	}
	
	#feicon {
		width: 100px;
		height: 100px;
		margin: 20px;
	}
	
	#frontend-text {
		text-align: justify;
		padding-top: 5px;
		font-size: small;
		margin: 15px;
		padding-right: 0;
	}
	
	#db {
		flex-direction: column-reverse;
    	align-items: center;
		
	}
	
	#dbicon {
		width: 110px;
		margin: 20px;	
		order: 2;
	}
	
	#dbtext {
		text-align: justify;
		font-size: small;
		margin: 15px;
		padding-left: 0;
	}
}

.aboutline2 {
	width: 10%;
	height: 1x;
	background: #11101b;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
